@model PhoneBook.Services.DTOs.Contact.ContactMinimalDto
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["PageTitle"];
    string? base64Image = "/images/default_contact.png";
    if (Model.ThumbnailBase64 != null)
    {
        base64Image = $"data:image/jpeg;base64,{Model.ThumbnailBase64}";
    }
}

<h1>@Localizer["HeadingDelete"]</h1>

<h3>@Localizer["HeadingConfirmation"]</h3>
<div>
    <h4>@Localizer["HeadingContact"]</h4>
    <hr />

    <div class="mb-3">
        <img src=@base64Image
             style="width:150px; height:150px; object-fit:cover; border-radius:8px; border:1px solid #ccc;" />

    </div>

    <dl class="row">
        <dt class="col-sm-2">
            @Localizer["TableHeaderName"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            @Localizer["TableHeaderPhone"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt class="col-sm-2">
            @Localizer["TableHeaderEmail"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt class="col-sm-2">
            @Localizer["TableHeaderBirthday"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Birthday)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value=@Localizer["ButtonDelete"] class="btn btn-danger" />
        <a class="btn btn-info" href="@ViewBag.ReturnUrl">@Localizer["ButtonBack"]</a>
    </form>
</div>
